.footer-container {
    height: 894px;
    padding: 47px 0px 43px;
}

.footer-container-contents {
    margin: 0px 30px;
}

// Contact Us

.contactus {
    margin: 0px 0px 30px;
    line-height: normal;
}



.contactus a {
    color: #ffffff;
    text-decoration: none;
}

.contactus a:hover {
    text-decoration: underline;
}

// About Netmatters

.aboutnm {
    margin: 0px 0px 30px;
    line-height: normal;
}

.aboutnm li{
    list-style-type: none;
}

.aboutnm a{
    color:#ffffff;
    text-decoration: none;
}

.aboutnm a:hover {
    text-decoration: underline;
}


// Website info

.website {
    margin: 0px 0px 30px;
    line-height: normal;
}

.website li{
    list-style-type: none;
}

.website a {
    color: #ffffff;
    text-decoration: none;
}

.website a:hover {
    text-decoration: underline;
}

// Social Media

.social-media {
    margin: 0px 0px 30px;
}
