.hamburger-inner  {
    background: white;
}

.hamburger-inner:before {
  background:white;
}
.hamburger-inner:after {
  background:white;
}

.hamburger.is-active .hamburger-inner {
  background: white;
}

.hamburger-inner:after {
  background: white;
}

.hamburger p {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    
    margin: 10px auto 0px;
  }

  // Burger button styling

.hamburger {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 15px;
    background-color: $nm-blue;  
    justify-content: center;
    cursor: pointer;
    padding: 10px 15px 5px;
    border-radius: 3px;
    height: 63px;
  }
  
  
  
//   .burger,
//   .burger-top {
//     width: 35px;
//     height: 3px;
//     margin: 0px auto 6px;
//     background-color: white;
//   }
  
//   .burger-container:hover {
//     background-color: #22242e;
//   }
  
//   .burger-container:hover button{
//     background-color: #22242e;
//   }